.google-map-container {
  position: relative;
  width: 100%;
  max-height: 500px;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .google-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}